.search{
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .search-input{
  width: 50%;
}

.search .search-input form{
  position: relative;
  display: flex;
  align-items: center;
}

.search .search-input form svg{
  position: absolute;
  right: 5px;
}

@media (max-width: 768px){
  .search{
      flex-direction: column;
  }

  .search .search-input {
      width: 100%;
  }
}

@media (min-width: 768px){
  .search button{
      margin-top: 0;
  }
}
