* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  color: #363636;
  font-size: 14px;
}

h1, h3{
  color: #363636;
}

p, label{
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 6px;
  color: #363636;
}

button span{
  margin-right: 3px;
}

button{
  width: 130px;
  border: 0;
  background: #b39d88;
  height: 35px;
  border-radius: 4px;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all .3s linear;
}

button:hover{
  border: 1px solid #b39d88;
  color: #b39d88;
  background: #fff;
  transition: all .3s linear;
}

@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}