header {
    background: #91765c;
    padding: 20px;
}

header h1 {
    color: #fff;
    text-align: center;
}

.lista{
    width: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 15px;
}

.lista .box-livro{
    background: #f1f1f1;
    border-radius: 5px;
    padding: 15px 15px 5px;
    cursor: pointer;
}

.lista .detalhes{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.lista .detalhes svg{
    width: 11px;
    height: 11px;
}

/* SEARCH INPUT */

.search{
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .search-input{
	width: 50%;
	margin-right: 10px;
}

.search .search-input form{
  position: relative;
  display: flex;
  align-items: center;
}

.search .search-input form svg{
  position: absolute;
  right: 5px;
}

/* MODAL */

.modal{
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: rgba(0,0,0,0.5);
	transition: all .3s linear;
	opacity: 0;
	visibility: hidden;
}
  
.active{
	visibility: visible;
	opacity: 1;
}

.modal .content{
	background: #fff;
	padding: 30px;
	border-radius: 4px;
	position: relative;
}

.modal .content h1{
	text-align: center;
	margin-bottom: 15px;
}

.modal .content svg{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.modal .content #id-livro{
	color: #666;
}

.modal .content .buttons{
	display: flex;
	justify-content: space-between;
}

.modal .content .buttons.salvar-alteracoes{
	display: none;
}

.modal .dados-livro{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal form{
	width: 100%
}

.modal .input-form{
	width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 768px){
	.lista{
		grid-template-columns: repeat(2, 1fr);
	}
	
	.content{
		max-height: 300px;
		width: 60%;
		overflow: auto;
	}

	.content .buttons{
		flex-direction: column;
	}

	.search{
		flex-direction: column;
	}

	.search .search-input {
		width: 100%;
	}
}

@media (min-width: 768px){
	.modal .input-form{
		width: 49%;
	}

	.modal .content{
		width: 45%;
	}

	.search button{
		margin-top: 0;
	}
}