.page__home{
	min-height: 100vh;
	background: #faf7f5;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	width: 100%;
}

header h1 {
	color: #363636;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.lista{
    width: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 15px;
}

.lista .box-livro{
    background: #fff;
    border-radius: 5px;
    padding: 15px 15px 5px;
		cursor: pointer;
		box-shadow: 6px 4px 15px 2px #ccc;
}

.lista .detalhes{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.lista .detalhes svg{
    width: 11px;
    height: 11px;
}

/* SEARCH INPUT */

.search{
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
	justify-content: center;
	width: 100%;
}

.search .search-input{
	width: 50%;
	margin-right: 10px;
}

.search .search-input form{
  position: relative;
  display: flex;
  align-items: center;
}

.search .search-input form svg{
  position: absolute;
  right: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 768px){
	header {
		flex-direction: column;
	}

	header h1{
		margin: 10px 0;
	}

	.lista{
		grid-template-columns: repeat(2, 1fr);
	}

	.content .buttons{
		flex-direction: column;
	}

	.search{
		flex-direction: column;
    margin-top: 0;
	}

	.search .search-input {
		width: 100%;
	}
}

@media (min-width: 768px){
	.search button{
		margin-top: 0;
	}
}