.tela__login{
  display: flex;
  align-items: center;
}

.tela__login .tela__login-col{
  width:50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}

.tela__login .tela__login-col > div{
  text-align: center;
}

.tela__login .tela__login-col.form > div{
  padding-bottom: 28px;
}

.tela__login .tela__login-col.form .image__mobile{
  width: 45%;
  display: none;
}

.tela__login .tela__login-col > div > img{
  width: 65%;
}

.tela__login .tela__login-col.form{
  background: #faf7f5;
}

.tela__login .tela__login-col.form form{
  width: 50%;
  margin: 0 auto;
}

.tela__login .tela__login-col h1{
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  color: #b39d88;
}

/*MEDIA*/
@media (max-width: 768px){
  .tela__login{
    flex-direction: column;
  }

  .tela__login-col.form{
    width: 100%;
    justify-content: flex-start;
  }

  .tela__login .tela__login-col.form .image__mobile{
    display: block;
    margin: 60px 0;
  }

  .tela__login .tela__login-col.form form{
    width: 80%;
  }

  .tela__login .tela__login-col.background{
    display: none;
  }

  
}