.tela-login{
    display: flex;
    align-items: center;
}   

.coluna.background{
    background-image: url('../../assets/img/livros.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.coluna.form{
    background: #f9f9f9;
}

.coluna.background h1{
    text-align: center;
    margin-bottom: 15px;
}

.coluna{
    width:50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

form .input-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
}


/*MEDIA*/

@media (max-width: 768px){
    .tela-login{
        flex-direction: column;
    }

    .coluna.background{
        display: none;
    }

    .coluna{
        width: 100%;
        padding: 0;
    }

    form {
        width: 80%;
    }
}