.title-mobile{
  font-family: 'Lobster', cursive;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

.tela-login{
  display: flex;
  align-items: center;
}   

.col.background{
  background-image: url('../../assets/img/livros.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.col.form{
  background: #f9f9f9;
}

.col.form form{
  width: 50%;
  margin: 0 auto;
}

.col.background h1{
  text-align: center;
  margin-bottom: 15px;
}

.col{
  width:50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}

form .input-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
}

/*MEDIA*/

@media (max-width: 768px){
  .title-mobile{
    display: block;
  }

  .tela-login{
    flex-direction: column;
  }

  .col.background{
    display: none;
  }

  .col{
    width: 100%;
    padding: 0;
  }

  .col.form form{
    width: 80%;
  }
}